/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: -70px auto;
  padding: 92px 50px 96px;
}
/* NAVIGATION */
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  display: flex;
  align-items: center;
  position: relative;
}

.header__links-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  background: transparent;
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.header__links-list-item:not(:first-child) .header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  left: 0;
}

/* LOGO */
.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

/* ADDRESS */
.header__address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}

.address__link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  position: relative;
  margin-bottom: 6px;
}

.address__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: -1px;
  left: 0;
}

.address__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: #000000;
  width: 230px;
  word-wrap: break-word;
}

/* COVER SECTION */
.cover {
  position: relative;
  max-width: 1100px;
  width: 100%;
  min-height: 757px;
  margin: 70px auto;
  color: #fff;
  overflow: hidden;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.cover__title-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 165px 0 0;
  z-index: 2;
}

.cover__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Отступы между строками вместо фиксированной высоты */
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  align-self: flex-start;
}

.aligned-text_center {
  text-align: center;
  align-self: center;
  margin-right: -0.3em;
}

.aligned-text_right {
  text-align: right;
  align-self: flex-end;
  width: 100%;
  margin-right: -3%;
}

.cover__description {
  position: relative;
  width: 1000px;
  margin: 106px 0 0 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px; /* Контролируем высоту строки */
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  word-spacing: 18.5px;
  margin: 0;
}

.bet-button {
  border: 1px solid #ffffff;
  min-width: 256px; /* Фиксированная ширина по макету */
  min-height: 51px; /* Фиксированная высота по макету */
  background: transparent;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* LOTS SECTION */
.lots {
  max-width: 1100px;
  width: 100%;
  margin: 185px auto 0;
  padding: 0 24px;
}
/* 1 */
.lots__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-shrink: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  margin-left: 40px;
  display: inline-block;
  position: relative;
}

.lots__look-more-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: -2px;
  left: 0;
}

/* ABOUT SECTION */
.about {
  max-width: 1052px;
  width: 100%;
  margin: 120px 480px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: start;
  padding: 35px 7px 0;
  box-sizing: border-box;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
}

.about__column:last-child {
  padding-top: 98px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin: 10px 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.about__paragraph {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

/* FOOTER SECTION */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  max-width: 1100px;
  width: 100%;
  margin: 175px auto 90px;
  padding: 0 50px;
}

.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin-bottom: 0px;
}

.footer__address .address__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.footer__address .address__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: -1px;
  left: 0;
}

.footer__address .address__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: #000000;
  margin: 0;
  width: 240px;
  word-wrap: break-word;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.footer__menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link_active::after {
  display: none;
}

.footer__menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: -2px;
  left: 0;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: auto;
  max-width: 48px;
  max-height: 48px;
}
